.gradient-custom {
  /* fallback for old browsers */
  background: #37ecba;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to left, rgba(55, 236, 186, 1), rgba(114, 175, 211, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to left, rgba(55, 236, 186, 1), rgba(114, 175, 211, 1));
}



.branco{
    background-color: #ffffff;
}

.agendartamanho{
    height: 1vh;
}

.meio-verde{
    margin-top: 10vh!important;
}

@font-face {
    font-family: 'Jones-Medium';
    font-style: normal;
    font-weight: bold;
    src: local('Jones-Medium'), url('/static/fonts/Jones-Medium.otf') format('opentype');
}

body{
    font-family: 'Jones-Medium'!important;
}

.btn-light{
  background: #ffffff!important;
  color: #00EDBC!important;
}

.btn-saibamais{
    color:#00C5DD;
}

.bg-gray{
    background: #F5F5F5;
}

@media only screen and (max-width: 600px) {
  .div-tamanho{
    height: 100vh;
}

    .meio-verde{
    margin-top: -40vh!important;
}

.tamanhoagendar{
    height: 0vh;
}
}

.container-sign {
max-width: 400px!important;
width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}

.container-signup {
max-width: 600px!important;
width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}




