{% extends 'med_app/main.html' %}
{% load static %}
{% block content %}

<div class="container-fluid  gradient-custom py-5 " style="height: 100vh" >

    <div class="container text-center " style="margin-top: 33vh">


        <div class="row my-5 ">
            <div class=" col-8 ">
                <div class="container py-5  bg-light rounded">
                    <h4 class="text-start">Contato:</h4>
                    <div class="form-outline mb-4">
                        <input type="email" id="form3Example3" class="form-control p-2" />
                        <label class="form-label" for="form3Example3">Email</label>
                    </div>

                    <p class="text-start">Ao agendar sua consulta, um código será enviado para este número, confirmando o agendamento</p>
                </div>
            </div>
            <div class="col-4 bg-light rounded ">
                <div class="container">
                    <p>asdsad</p>
                </div>
            </div>
        </div>

         <button type="submit" class=" text-center btn rounded btn-light mb-4 "><i class="fab fa-google mx-2"></i>Continuar com o Google</button>
</div>
    </div>

</div>


{% endblock %}