{% extends 'med_app/main.html' %}
{% load static %}
{% block content %}

<div class="container-fluid  gradient-custom py-5 " style="height: 100vh" >

    <div class="container  px-5 " style="margin-top: 20vh">


        <div class="row my-5 ">
            <div class=" col-9 ">
                <div class="container p-5  bg-light rounded">
                    <h4 class="text-start ">Código de Confirmação:</h4>
                    <div class=" text-black-50 form-outline mb-2">
                        <input type="number" id="form3Example3" class="form-control p-2" placeholder="Insira o código enviado ao número de celular designado préviamente" />

                    </div>
                    <div class="text-end mb-4">
                        <a  href="">Não recebi nenhum código</a>
                    </div>


                    <div class="row text-center">
                        <div class="col-6 my-auto">
                            <button type="submit" class=" text-center btn px-5 rounded btn-red  ">Voltar</button>
                        </div>
                        <div class="col-6 my-auto">
                            <button type="submit" class=" text-center btn px-5 rounded btn-blue ">Agendar</button>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-3 bg-light rounded ">
                <div class="container bg-light rounded p-4">
                    <div class="row ">
                        <div class="col-4">
                            <img class="rounded " src="{% static 'images/minha_foto.jpg' %}" alt="" height="70">
                        </div>
                        <div class="col-8">
                            <h6 class="m-0 p-0">Dra. Letícia Dupont</h6>
                            <p class="m-0 p-0 text-black-50">Especialização</p>
                        </div>
                    </div>
                    <p class="m-0 p-0 my-4 text-black-50 mt-3"><img class="rounded " src="{% static 'images/clock.svg' %}" alt="" height="30"> 07 de Maio, 14:00</p>
                    <p class="m-0 p-0 my-4 text-black-50">Transfêrencia Bancária</p>
                    <p class="m-0 p-0 text-black-50">R$ 250</p>

                </div>
            </div>
        </div>


</div>
    </div>

</div>


{% endblock %}