
{% extends 'med_app/main.html' %}
{% load static %}
{% block content %}

<div class="container-fluid gradient-custom p-5 mt-5" style="height: 100vh">

<h1 class="text-center text-light  px-5 mt-5">Consulta com Nome Sobrenome</h1>
    <div class="container-camera text-right p-5 bg-light rounded my-5" >
        <div style="height: 300px">
        </div>
    </div>
    <div class="container-camera text-right p-4 bg-light rounded my-5" >
        <div class="row">
            <div class="col-4 "><h5 class="">mutar</h5></div>
            <div class="col-4 "><h5 class="">ligar camera</h5></div>
            <div class="col-4 ">
                <div class="text-end my-auto">
                    <button class=" m-0 btn btn-sm btn-rounded btn-blue">Entrar</button>
                </div>

            </div>
        </div>

    </div>
</div>



{% endblock %}